<form class="add" action="/pages/new" method="post" enctype="multipart/form-data">
  <label for="page_img">Page</label>
  <input id="page_img" type="file" name="page_img">
  <button class="btn btn-info" type="submit">Add New Page</button>
</form>

<!--

How bracket-notated fields work:

"page[id]"
{:page => {:id => 1}}
which can be written as
page: {id: 1}


"page[][id]"
{:page => [{:id => 1}, {:id => 2}]}
page: [id: 1, id: 2]

-->
