body {
  font-family: 'Francois One', sans-serif;
  background-image: url('../img/triangular.png');
  padding-top: 65px;
}
body p {
  font-family: 'Merriweather', serif;
}

.navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }

.navbar-brand a {
  /*font-family: 'Francois One', sans-serif;*/
  color: black;
}

.page-list {
  list-style-type: none;
}
